name: Deploy to Production

on:
  workflow_dispatch:

jobs:
  deploy:
    environment: Production
    runs-on: ubuntu-latest
    env:
      SSH_PORT: ${{ vars.SSH_PORT }} #1547
      SSH_HOST: ${{ vars.SSH_HOST }} 
      SSH_KEY: ${{ secrets.SSH_KEY }}
      SSH_USERNAME: ${{ vars.SSH_USERNAME }} 
      DOMAIN: ${{ vars.DOMAIN }} #url.com

    steps:
    - uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'

    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ env.SSH_KEY }}
        name: id_rsa # optional
        known_hosts: ${{ env.SSH_HOST }}
        if_key_exists: fail # replace / ignore / fail; optional (defaults to fail)

    - name: Update Composer Bedrock
      run: composer install --prefer-dist --no-progress

    # Environment config
    - name: Push files to the remote
      run: rsync --progress -avz --chmod=Du=rwx,Dg=rx,Do=rx,Fu=rw,Fg=r,Fo=r --exclude=".git/" --exclude=".ddev/" --exclude ".github/" --exclude=".gitignore" 
              -e 'ssh -o StrictHostKeyChecking=no -p ${{ env.SSH_PORT }}' ./ ${{ env.SSH_USERNAME }}@${{ env.SSH_HOST }}:public

    - name: Clear cache on kinsta
      run: ssh ${{ env.SSH_USERNAME }}@${{ env.SSH_HOST }} -p ${{ env.SSH_PORT }} 'curl https://${{ env.DOMAIN }}/kinsta-clear-cache-all'